.mainBox {
  display: flex;
  width: calc(100% -140px);
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.articleBox {
  width: calc(97% / 2);
  height: fit-content;
  min-height: 250px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  border: dotted 0.5px var(--light);
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  justify-content: center;
}
.title {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}
.avatarIntro {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.intro {
  font-size: 0.8rem;
  margin: 10px;
  /* font-weight: 100; */
}
.author {
  width: fit-content;
  height: fit-content;
  margin: 10px 0;
  min-width: 35px;
}
.authorImage {
  border-radius: 50px;
}
.category {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 3px 15px;
  /* border: solid 0.5px var(--light); */
  color: var(--dark);
  border-radius: 20px;
  margin: 20px 10px;
  background-color: var(--light);
}

@media (max-width: 900px) {
  .articleBox {
    width: 100%;
    margin: 10px 20px;
    min-width: 200px;
  }
  /* .avatarIntro {
    flex-wrap: wrap;
    justify-content: center;
  } */
}
