.navBar {
  display: flex;
  justify-content: space-between;
  width: calc(100% -140px);
  height: 77px;
  /* margin: 0 auto; */
}
.logo {
  display: flex;
  align-items: center;
  margin: 0 20px;
  justify-content: center;
  cursor: pointer;
  color: var(--light);
}
.logo span {
  color: var(--middle-light);
  border-radius: 5px;
}
.topMenu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  width: 100%;
}
.topMenu li {
  margin: 0 23px;
  font-size: 0.9rem;
  cursor: pointer;
}
.toggle {
  background-image: url(../public/icons/hamburger.svg);
  background-size: 33px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin: auto 20px;
  display: none;
  z-index: 200;
}
.toggle.active {
  background-image: url(../public/icons/cross.svg);
  background-size: 23px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin: auto 20px;
  display: none;
  z-index: 200;
}
@media (max-width: 900px) {
  .navbar {
    position: relative;
    min-width: 250px;
  }
  .toggle {
    display: block;
  }
  .toggle.active {
    display: block;
  }
  .topMenu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--middle-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .topMenu li {
    font-size: 29px;
    margin: 20px 0;
  }
  .topMenu.active {
    visibility: visible;
  }
  /* @media (max-width: 900px) {
    .navBar {
      margin: 10px auto;
    }
  } */
}
